body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding:0px;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
.name{
    color:orange;
}
.first-container{
    display:flex;
    padding-left:5%;
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 140px;
}

.half-side{
    width: 50%;
    
}
.half-side p{
    text-align: justify;
    width:80%;
    padding-bottom: 10px;
}
.half-side img{
    width:80%;
    margin:0px 50px;
}
.hyper-link{
    text-transform: uppercase;
    text-decoration: none;
    padding:8px 40px;
    background-image: linear-gradient(salmon,tomato);
    border-radius: 5px;
    color:white;
    font-weight: bold;
}
.second-container{
    display:flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 140px;
}
.third-container{
    display:flex;
    text-align: justify;
    margin-bottom: 140px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.third-container div p{
    width:90%;
}
.box{
    width:40%;
    margin-left:4%;
    margin-right:3%;
    box-shadow:10px 10px 30px  black;
    padding:10px 0px 60px 20px;
    border-left:5px solid;
    border-radius: 10px;
    
}
.box h2{
    color:orangered;
}
#box1{
    border-image: linear-gradient(orangered, tomato);
    border-image-slice: 1;    
}
#box2{
    border-image: linear-gradient(salmon, cyan);
    border-image-slice: 1;  
}
footer{
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}